.py-8.flex.flex-col.gap-5
  %h1.font-semibold.text-2xl Order Price Scheduler
  = turbo_frame_tag "order_price_schedulers" do
    .table-primary
      %table
        %tbody
          - @order_price_schedulers.each do |ops|
            %tr
              %td
                .flex.gap-3.items-center
                  = ops.name
                  - if ops.active
                    .active
                      active
