#search-results
  .table
    .table-header-group.border-b.sticky.top-0
      .table-row
        .table-cell Name
        .table-cell SKU
        .table-cell Type
        .table-cell Weight
        .table-cell Price
        .table-cell.text-center Quantity
        .table-cell
    .table-row-group#search-results-items.divide-y.divide-gray-200{data: {"orders--form-target": "searchItems"}}
      - @results.each do |result|
        = render "search_item", result:
  = render "search_more"
