#search-results
  %table.w-full.text-left.text-base.text-gray-900.md:table-fixed
    %thead.border-b.sticky.top-0{class: "bg-gray-50"}
      %tr.uppercase.text-sm
        %th Name
        %th SKU
        %th Type
        %th Weight
        %th Price
        %th.text-center Quantity
        %th
    %tbody#search-results-items.divide-y.divide-gray-200{data: {"orders--form-target": "searchItems"}}
      - @results.each do |result|
        = render "search_item", result:
  = render "search_more"
