- if @pagy.next
  .flex.w-full.justify-center.mt-4{id: "order-page-#{@pagy.next}"}
    = link_to "Show More", search_results_operational_portal_orders_path(more: true, search: params[:search], search_by: params[:search_by], page: @pagy.next, order_id: params[:order_id]), data: {turbo_stream: true}, class: "btn-sm bg-[color:var(--primary)] text-[color:var(--primary-text)]"
