%dialog{class: "xl:max-w-[1200px] w-full overflow-y-auto h-[70%]", "data-dialog-target": "dialog"}
  .h-full
    .flex.px-8.py-3.gap-4.items-center.sticky.top-0.bg-white.z-10.border-b.relative
      %h2.text-xl.font-semibold
        - if item.product_id.present?
          Product Details
        - else
          Part Details
    .py-1.px-8.w-full
      = turbo_frame_tag (item.product_id.present? ? "product_show" : "part_show"), src: item.product_id.present? ? operational_portal_product_path(id: item.product_id, modal: true) : operational_portal_part_path(dd: item.part_id, modal: true), loading: :lazy do
        .flex.items-center.justify-center.w-full{class: "h-full"}
          = icon("fa-solid", "spinner", class: "animate-spin text-4xl text-gray-400")
