%table#search-parts-results.w-full.text-left.text-base.text-gray-900.md:table-fixed
  %tbody.divide-y.divide-gray-200{data: {"products--form-target": "searchParts"}}
    - @parts.each do |part|
      = render "search_parts_item", part:
