.w-full
  .py-6
    %h1.text-2xl.font-medium.mb-4 Edit Product
    = render "form", url: operational_portal_product_path
    = link_to 'Back', operational_portal_catalog_path, class: 'btn btn-secondary'
