- @items.each do |item|
  = render "item", item: item

- if @pagy.next
  .flex.w-full.justify-center{id: "catalog-page-#{@pagy.next}"}
    = link_to "Show More", operational_portal_catalog_index_path(more: true, search: params[:search], search_by: params[:search_by], page: @pagy.next), data: {turbo_stream: true}, class: "btn-sm bg-[color:var(--primary)] text-[color:var(--primary-text)]"
