- if @items.present?
  - @items.each do |item|
    = render "item", item: item
- else
  .grid.w-full.h-64.place-items-center
    .flex.flex-col.gap-1.items-center.text-gray-400
      = icon("fa-solid", "box-open", class: "text-5xl")
      %span
        No results

- if @pagy.next
  .flex.w-full.justify-center{id: "catalog-page-#{@pagy.next}"}
    = link_to "Show More", search_operational_portal_catalog_index_path(more: true, search: params[:search], filter_by: params[:filter_by], page: @pagy.next), data: {turbo_stream: true}, class: "btn-sm bg-[color:var(--primary)] text-[color:var(--primary-text)]"
