%h1 Search Results
%h2 Products
%ul
  - @products.each do |product|
    %li
      = link_to product.name, product_path(product)
%h2 Parts
%ul
  - @parts.each do |part|
    %li
      = link_to part.name, part_path(part)
