- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  %span
    Forgot your password?
    = link_to "Reset", new_password_path(resource_name), class: "text-secondary hover:underline font-medium"
