/ app/views/webhooks/show.html.erb
%h1 Webhook Details
%p
  %strong URL:
  = @webhook.url
%p
  %strong Customer:
  = @webhook.customer.name
= link_to 'Edit', edit_webhook_path(@webhook)
|
= link_to 'Back to List', webhooks_path
