<h1>New Order</h1>

<%= form_for @order do |f| %>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit "Create Order" %>
  </div>
<% end %>
