!!!
/ app/views/layouts/turbo_rails/frame.html.erb
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Turbo Frame Layout
  %body
    #layout-identifier Turbo Frame Layout
    = yield
