<!-- app/views/layouts/turbo_rails/frame.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Turbo Frame Layout</title>
</head>
<body>
  <div id="layout-identifier">Turbo Frame Layout</div>
  <%= yield %>
</body>
</html>