.pt-5.pb-7
  .flex.gap-4{data: {controller: "cp--catalog--search", url: user_signed_in? ? customer_portal_catalog_index_path : root_path}}
    = render "customer_portal/catalog/left_side"
    = render "customer_portal/catalog/right_side"
