%dialog{class: "xl:max-w-margin w-full overflow-y-auto h-[80%]", "data-dialog-target": "dialog"}
  .h-full
    .flex.px-8.py-3.gap-4.items-center.sticky.top-0.bg-white.z-10.border-b.relative
      %h2.text-xl.font-semibold Customer Imports
    .pt-4.pb-6.px-8.w-full
      = turbo_frame_tag "customer-imports", src: operational_portal_customer_imports_path(modal: true), loading: :lazy do
        .flex.items-center.justify-center.w-full{class: "h-full"}
          = icon("fa-solid", "spinner", class: "animate-spin text-4xl text-gray-400")
