/ app/views/operational_portal/profiles/show.html.erb
.container
  %h1 Your Profile
  %p
    %strong Email:
    = @user.email
  %p
    %strong Name:
    = @user.name
  %p
    %strong Phone:
    = @user.phone
  = link_to 'Edit Profile', edit_operational_portal_profile_path, class: "btn"
