.block
  %div
    %strong Storage Racks and Accessories
    %br/
    A rugged customized rack system as flexible as your storage needs. Fully expandable and adaptable to meet any storage requirement.
    %br/
    %br/
  .block.mb-5
    = image_tag "spruill-racks.png", class: "h-56"
  %div
    %strong High Strength Beams
    %br/
    Beams are manufactured from high strength 55,000 psi minimum yield steel. They are easily adjustable and are designed for a variety of uses and capacities. Beams have a 1.67:1 safety factor.
    %br/
    %br/
  %div
    %strong Powder Coat Paint
    %br/
    A five-stage pretreatment process and powder coating system is designed to class A automotive standards. This environmentally safe process produces a durable, high quality, superior appearance finish.
    %br/
    %br/
  %div
    %strong High Strength Upright Frames
    %br/
    Spruill upright frames use one piece posts up to 45 feet high. They have a safety factor of 1.95:1 based on 55,000 psi minimum yield steel. There are no dead spots along the entire length of the frame allowing freedom of beam placement.
    %br/
    %br/
  %div
    %strong Upright Design
    %br/
    Upright frames are built with heavy duty horizontal and diagonal channel bracing. Bracing placement is computer calculated to meet individual application requirements. This specially designed placement provides a perfect rigidity, regardless of height or depth.
    %br/
    %br/
  %div
    %strong Design and Specifications
    %br/
    Spruill storage racks are designed to meet all applicable sections of the 1986 edition of A.I.S.I. "Specification for the Design of Cold-Formed Steel Structural Members" and the Rack Manufacturers Institute (RMI) standards.
    %br/
    %br/
    %strong Quality &amp; Service Since 1964
    %br/
    Spruill has been producing high quality and innovative products for applications since 1964. Located in Atlanta, Georgia, Spruill specializes in the design and manufacture of storage systems to economically store virtually any type of product or material. Spruill has the products, people, and manufacturing capability to provide you more value for your storage investment.
  %ul.list-disc
    %li.ml-8 State-of-the-art roll forming equipment produces high quality storage rack for large or small applications. This modern, high production equipment combined with our process flexibility assures large jobs and specialized jobs are delivered on time.
    %li.ml-8 Highly qualified engineers can provide technical assistance as well as design a system to provide maximum storage utilization.
    %li.ml-8 In addition to the storage rack systems and components in this catalog, Spruill manufactures other storage products including drive-in/drive-thru, cantilever, shelving, and mezzanines.
    %li.ml-8 Spruill storage rack systems are available through a network of dealers and distributors. They are ready to assist with your material handling requirements.
