@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-h-screen bg-foreground;
  }

  .margin-max-screen {
    @apply mx-auto max-w-margin px-4 md:px-8 w-full;
  }

  #notification-container {
    @apply absolute z-[9999] top-6 right-7;
  }

  select option[value=""], select option:not([value]) {
    @apply text-zinc-500;
  }
}

@layer components {
  .errors {
    @apply py-2 px-3 rounded border border-red-600 bg-red-600/10 text-red-600 text-[15px];
  }

  .field {
    @apply grid gap-0.5 w-full;
  }

  .field:has(input[required]) label:after {
    @apply content-['*'] text-red-600
  }

  .field:has(textarea[required]) label:after {
    @apply content-['*'] text-red-600
  }

  .field:has(select[required]) label:after {
    @apply content-['*'] text-red-600
  }

  .field .field_with_errors input {
    @apply input-error;
  }

  .field .field_with_errors textarea {
    @apply input-error;
  }

  .field .field_with_errors select {
    @apply input-error;
  }

  .btn-md {
    @apply py-[11px] px-5 cursor-pointer rounded-lg text-[15px];
  }

  .btn-sm {
    @apply py-2 px-4 cursor-pointer rounded-lg text-[15px];
  }
  
  /* Inputs */
  .input-primary {
    @apply w-full rounded py-[9px] px-3 ring-1 ring-zinc-300 focus:ring-2 focus:ring-[color:var(--primary)] border-0 focus:border-0 disabled:ring-zinc-200 read-only:focus:ring-1 read-only:focus:ring-zinc-400 disabled:cursor-not-allowed; 
  }

  .input-error {
    @apply w-full rounded py-[9px] px-3 ring-1 ring-red-600 focus:ring-2 focus:ring-red-600 border-0 focus:border-0;
  }

  .checkbox-primary {
    @apply w-[18px] h-[18px] rounded-sm text-[color:var(--primary)] border border-gray-400 focus:ring-0 disabled:bg-stone-200 disabled:text-gray-200 disabled:cursor-not-allowed cursor-pointer;
  }

  .checkbox-secondary {
    @apply w-[18px] h-[18px] rounded-sm text-secondary border border-gray-400 focus:ring-0 disabled:bg-stone-200 disabled:text-gray-200 disabled:cursor-not-allowed cursor-pointer;
  }

  /* table */
  .table-primary {
    @apply bg-white rounded border shadow;
  }

  table {
    @apply w-full;
  }

  table thead {
    @apply border-b;
  }

  table tbody {
    @apply divide-y;
  }

  table thead tr th {
    @apply px-4 py-3 text-start font-medium;
  }

  table tbody tr td {
    @apply px-4 py-3;
  }

  /* Quantity */
  #quantity-container {
    @apply flex items-center gap-4;
  }

  #quantity-container #stocks {
    @apply text-gray-800;
  }

  #quantity {
    @apply flex;
  }

  #quantity .decrement {
    @apply text-sm border border-gray-400 px-3 py-0 h-9 rounded-l hover:border-[color:var(--primary)] hover:text-[color:var(--primary)];
  }

  #quantity .increment {
    @apply text-sm border border-gray-400 px-3 py-0 h-9 rounded-r hover:border-[color:var(--primary)] hover:text-[color:var(--primary)];
  }

  #quantity .number-input {
    @apply h-9 px-1 focus:border-gray-400 border border-x-0 border-y-gray-400 w-[60px] text-center focus:ring-0;
  }

  #quantity.small .decrement {
    @apply text-sm border border-gray-400 px-2.5 py-0 h-8 rounded-l hover:border-[color:var(--primary)] hover:text-[color:var(--primary)];
  }

  #quantity.small:has(.number-input[disabled]) .decrement {
    @apply text-sm border border-gray-200 text-gray-200 px-2.5 py-0 h-8 rounded-l cursor-not-allowed;
  }

  #quantity.small .increment {
    @apply text-sm border border-gray-400 px-2.5 py-0 h-8 rounded-r hover:border-[color:var(--primary)] hover:text-[color:var(--primary)];
  }

  #quantity.small:has(.number-input[disabled]) .increment {
    @apply text-sm border border-gray-200 text-gray-200 px-2.5 py-0 h-8 rounded-r cursor-not-allowed;
  }

  #quantity.small .number-input {
    @apply h-8 px-1 focus:border-gray-400 border border-x-0 border-y-gray-400 w-[54px] text-[15px] text-center focus:ring-0;
  }

  #quantity.small .number-input[disabled] {
    @apply h-8 px-1 cursor-not-allowed text-gray-200 border border-x-0 border-y-gray-200 w-[54px] text-[15px] text-center focus:ring-0;
  }

  #quantity input[type="number"] {
    appearance: textfield;
  }

  #quantity input[type="number"]::-webkit-inner-spin-button,
  #quantity input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

/* Dynamic */
.turbo-progress-bar {
  @apply bg-[color:var(--primary)];
}

/* Customize the dialog backdrop */
dialog {
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Add animations */
dialog[data-dialog-target='dialog'][open] {
  animation: fade-in 200ms forwards;
}

dialog[data-dialog-target='dialog'][closing] {
  animation: fade-out 200ms forwards;
}
