.w-full#users-error{class: resource.errors.any? ? "" : "hidden", data: {"users--form-target": "error"}}
  - if resource.errors.any?
    = render ErrorCardComponent.new errors: resource.errors.full_messages, label: "validations"
