%dialog.relative{class: "xl:max-w-[800px] w-full overflow-y-auto", "data-dialog-target": "dialog"}
  .flex.px-8.py-3.gap-4.items-center.sticky.top-0.bg-white.z-10.border-b.relative
    %h2.text-xl.font-semibold Add New User
  .px-8.pb-1{class: "w-full"}
    = turbo_frame_tag "user_invitation", src: new_user_invitation_path(modal: true), loading: :lazy do
      .flex.items-center.justify-center.w-full{class: "h-full"}
        = icon("fa-solid", "spinner", class: "animate-spin text-4xl text-gray-400")
