.w-full.py-5.h-full
  %h1.text-2xl.font-medium.mb-4 Edit User
  = form_with(model: @user, url: operational_portal_user_path, html: {data: {controller: "users--form", turbo: "false"}}) do |form|
    = render "form_inputs", resource: @user, form:
