- if @cart.errors.any?
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "error", message: "Something went wrong"
- else
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "success", message: "Successfully updated cart"
