@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-h-screen;
  }

  .margin-max-screen {
    @apply mx-auto max-w-margin px-4 md:px-8 w-full;
  }
}

@layer components {
  .field {
    @apply grid gap-0.5;
  }

  .btn-md {
    @apply py-[11px] px-4 cursor-pointer rounded;
  }

  .input-primary {
    @apply rounded py-[9px] px-4 ring-1 ring-zinc-400 focus:ring-2 focus:ring-[color:var(--primary)] border-0 focus:border-0; 
  }
}

/* Dynamic */

/* Background */
.bg-primary {
  background: var(--primary);
  color: var(--primary-text);
}

.bg-secondary {
  background: var(--secondary);
  color: var(--secondary-text);
}

.bg-tertiary {
  background: var(--tertiary);
  color: var(--tertiary-text);
}

/* Text */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}
