/* app/assets/stylesheets/logout_confirmation.scss */

#logout-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#logout-modal div {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

#logout-modal button {
  margin: 5px;
}
