%header.w-full.bg-white.sticky.top-0.border-b.z-20
  .flex.justify-between.items-center.margin-max-screen.py-5
    .flex.items-center
      = render "layouts/company"
    .flex.items-center.gap-5
      = link_to 'Login', new_user_session_path, class: "text-lg hover:underline hover:decoration-[color:var(--secondary)] decoration-2 underline-offset-4"
      = link_to 'Sign Up', new_user_registration_path, class: "px-7 py-2.5 btn-md text-[color:var(--primary-text)] bg-[color:var(--primary)]"
