.flex.items-center.font-medium.margin-max-screen{class: "gap-0.5"}
  = render NavbarLinkComponent.new path: root_path, label: "Catalog"
  = render NavbarLinkComponent.new path: about_us_path, label: "About Us"
