!!!
%html.h-full
  %head
    = render "layouts/head"
  %body.flex.h-full{style: theme}
    = render FlashComponent.new
    = render "layouts/sidebar"
    %main.flex-1.overflow-auto
      .h-full.margin-max-screen
        = yield
