!!!
%html
  %head
    = render "layouts/head"
    :css
      :root {
        --primary: #214290;
        --primary-text: #fff;
        --secondary: #589245;
        --secondary-text: #fff;
      }
  %body.flex.flex-col
    = render FlashComponent.new
    %main
      = yield
