!!!
%html.h-full
  %head
    = render "layouts/head"
  %body.h-full{style: theme}
    = render FlashComponent.new
    %main.flex.h-full
      = render "layouts/sidebar"
      .overflow-auto.margin-max-screen.h-full.flex-1.py-8
        = yield
